.ipynb_checkpoints/
03.ParallelComputation.slides.html
02.Containers.slides.html
*.h5
*.json
mydask.png
06.Unix.Commands.slides.html
test_stdin.py
words.py
mapper.py
reducer.py
data/nycflights/1990.csv
data/nycflights/1991.csv
data/nycflights/1992.csv
data/nycflights/1993.csv
data/nycflights/1994.csv
data/nycflights/1996.csv
data/nycflights/1995.csv
data/nycflights/1997.csv
data/nycflights/1998.csv
data/nycflights/1999.csv
*.pyc
sample*.txt
file_list.txt
output.txt
user.txt
local-file.txt
cp_file.sh
data/test.xls
sentences.txt
books
exam-2017-correction.pdf
exam-2017-correction.slides.html
.cache/v/cache/lastfailed
2017/.cache/v/cache/lastfailed
2017/derby.log
2017/metastore_db/
2017/credentials.py
2017/data
bdata

.pytest_cache/v/cache/lastfailed
2017/Makefile
